#body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.d2l-navigation-bar {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: black;
    top: 0px;
    left: 0px;
    display: block;
}

.d2l-navigation-bar-content {
    display: table;
    text-align: center;
    width: 100%;
}

.d2l-navigation-bar-left {
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

.d2l-navigation-bar-right {
    display: table-cell;
    width: 50%;
    height: 100%;
    vertical-align: middle;
}

.home {
    padding-top: 6px;
}

.home-pic {
    vertical-align: middle;
}

.home-text {
    font-family: Verdana;
    font-size: 6px;
    color: white;
    height: 100%;
    vertical-align: middle;
    font-size: smaller;
    text-decoration: none;
}

.home-text::hover {
    text-decoration: underline;
}

.icons {
    /*display: inline;*/
    height: auto;
    float: left;
    padding-left: 40px;
}

.icons>img {
    vertical-align: middle;
    margin-top: 6px;
    height: auto;
    width: 26px;
}

.icons>.email {
    border-right: 1px solid white;
    padding-right: 5px;
}

.icons>.sticky {
    border-right: 1px solid white;
    padding-right: 5px;
}

.icons>.bubble {
    margin-right: 50px;
}

.profile {
    /*border-top-left-radius: 3px;
    border-top-right-radius: 3px;  */
    top: 5px;
    padding-top: 5px;
    padding-left: 30px;
    border: 1px solid white;
    display: table-cell;
}

.profile::hover {
    border-color: white;
}

.icons>.bubble {
    padding-right: 5px;
}

.profile-name {
    color: red;
    vertical-align: middle;
}

.helper-bar {
    height: 90px;
    display: block;
}

.helper-bar-icons {
    display: inline-block;
}

.d2l-navbar-area-list {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    padding-top: 15px;
}

.d2l-navbar-area-list div {
    display: inline;
    vertical-align: middle;
}

.d2l-navbar-area-list li {
    display: inline;
    vertical-align: middle;
}

.d2l-navbar-sep {
    padding-left: 2px;
    padding-right: 2px;
}

.main-panel {
    background-color: transparent;
    position: relative;
    min-width: 620px;
    margin: 0 auto;
    max-width: 980px;
    height: 100%;
    width: 100%;
    border-spacing: 5px 0px;
}

.page-header {
    display: block;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
}

.main-panel-content {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    display: table;
}

.left-panel {
    display: table-cell;
    height: 100%;
    width: 66;
}

.right-panel {
    display: table-cell;
    height: 100%;
    width: 34%;
    overflow: auto;
}

.panel-course {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 20px;
}

.panel-course-bottom {
    width: 100%;
    /*border: 1px solid black;*/
    display: table;
}

.bottom-left {
    display: table-cell;
    height: 100%;
    width: 50%;
    border: 0px solid transparent;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.bottom-right {
    display: table-cell;
    height: 100%;
    width: 50%;
    /*border: 1px solid black;*/
}

.right-panel-announcement {
    width: 100%;
    height: auto;
    /*border: 1px solid black;*/
}

.course-header {
    background-color: #6D1A42;
    border: 1px dotted #DADBD3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    padding: 6px 10px;
}

.panel-course-contrainer {
    max-width: 100%;
    float: left;
}

.course-header-text {
    color: white;
    line-height: 1.2em;
    margin-right: 50px;
}

.course-header-collapse-container {
    margin-top: 5px;
    margin-left: -10px;
    float: left;
    width: 100%;
}

.bottom-left-library-header {
    border: 1px dotted #DADBD3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #6D1A42;
    cursor: pointer;
    padding: 6px 10px;
}

.bottom-right-store-header {
    border: 1px dotted #DADBD3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #6D1A42;
    cursor: pointer;
    padding: 6px 10px;
}

.bottom-left-library-text {
    color: white;
    line-height: 0.1em;
}

.bottom-left-library-pic {
    padding: 7px 10px;
    border-top: 0px solid transparent;
    border-right: 1px dotted #DADBD3;
    border-bottom: 1px dotted #DADBD3;
    border-left: 1px dotted #DADBD3;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.bottom-right-store-text {
    color: white;
    line-height: 0.1em;
}

.right-panel-announcement-header {
    border: 1px dotted #DADBD3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #6D1A42;
    cursor: pointer;
    padding: 6px 10px;
}

.right-panel-announcement-header-text {
    color: white;
    line-height: 0.1em;
}

.right-panel-calendar-header {
    border: 1px dotted #DADBD3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #6D1A42;
    cursor: pointer;
    padding: 6px 10px;
}

.right-panel-calendar-header-text {
    color: white;
    line-height: 0.1em;
}

.right-panel-announcement-content {
    border-top: 0px solid transparent;
    border-right: 1px dotted #DADBD3;
    border-bottom: 1px dotted #DADBD3;
    border-left: 1px dotted #DADBD3;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFFFFF;
}

.right-panel-announcement-content-wrapper {
    padding: 0;
    border-bottom-color: transparent;
    border-width: 0;
    border-bottom: 1px solid #eaeaea;
    list-style: none;
}

.right-panel-calendar-content {
    border-top: 0px solid transparent;
    border-right: 1px dotted #DADBD3;
    border-bottom: 1px dotted #DADBD3;
    border-left: 1px dotted #DADBD3;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.d2l_1_143_508 {
    border: 1px solid #D4D4D4;
}

.d2l_1_142_970 {
    background-color: #EFEFEF;
}

collapsepane-header {
    cursor: pointer;
}

collapsepane-header {
    padding: 0.5em 10px 0.5em 10px;
    zoom: 100%;
}

collapsepane-header .d2l-expandcollapse {
    margin-top: 0.1em;
}

.d2l_1_53_949 {
    float: right;
}

.d2l_1_147_222 {
    padding: 10px;
}

.d2l_1_146_627 {
    border-right: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
}

.terms {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*border: 1px solid black;*/
    width: 100%;
    background-color: #EFEFEF;
}

.courses {
    width: 100%;
    border-width: 0;
    border-bottom: 1px solid #eaeaea;
    margin-top: 5px;
}

.courses:hover {
    background-color: silver;
}

.helper-bar-icon {
    height: 20px;
}

.ui-accordion-header.ui-state-active {
    background: #d3d3d3;
}